.shop {
    padding-top: 2.5rem;

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.5rem;

        h1 {
            font-size: 2rem;
            font-weight: bold;
        }

        input {
            width: 250px;
            padding: 0.93rem 1.12rem 0.93rem 2.87rem;
            border: 1px solid #e3e3e3;
            border-radius: 10px;
            background: url("https://i.postimg.cc/QMysTj37/search.png") no-repeat 1.12rem 50%;
        }

        ::placeholder {
            color: #e3e3e3;
        }

        input:focus {
            border-color: #e3e3e3;
            outline: none;
        }
    }

    .ContentLoader {
        display: flex;
        justify-content: space-between;
    }

    .items {
        display: flex;
        flex-wrap: wrap;

        h1 {
            margin: 0 auto;
            padding-top: 1rem;
            padding-bottom: 3rem;
        }
    }
}