.modal {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.cart {
    position: absolute;
    top: 0;
    right: 0;
    width: 385px;
    height: 100%;
    padding: 2rem 1.87rem;
    background-color: #ffffff;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.87rem;

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
        }

        img {
            cursor: pointer;
        }
    }
}