.cartItem {
    display: flex;
    align-items: center;
    width: 325px;
    height: 119px;
    margin-bottom: 1.25rem;
    padding: 1.25rem 1.25rem 1.87rem;
    border: 1px solid #f3f3f3;
    border-radius: 20px;

    .cartImg {
        width: 123px;
        height: 70px;
        margin-right: 1.31rem;

        img {
            width: 100%;

        }
    }

    .info {
        max-width: 150px;
        margin-right: 0.75rem;

        .description {
            margin-top: 0.7rem;
            margin-bottom: 0.5rem;
            font-size: 0.87rem;
            color: #000000;
            font-weight: normal;
        }

        .price {
            font-size: 0.87rem;
            color: #000000;
            font-weight: bold;
        }
    }

    .deleteBtn {
        cursor: pointer;

        img {
            transition: transform 0.3s ease-in-out;
        }

        img:hover {
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 425px) {
    .cartItem {
        width: 290px;
        height: 95px;
        margin: 0.5rem auto;
        padding: 0.5rem;

        .cartImg {
            height: 70px;
            margin-right: 1rem;
        }

        .info {
            .description {
                font-size: 0.8rem;
            }

            .price {
                font-size: 0.7rem;
            }
        }
    }
}