.header {
    padding-top: 48px;
    padding-bottom: 44px;
    border-bottom: 1px solid #eaeaea;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 972px;
        margin: 0 auto;

        .logo {
            display: flex;
        }

        img {
            margin-right: 1rem;
        }

        .text {
            font-size: 0.87rem;
            color: #9d9d9d;
            letter-spacing: 0.35px;

            h2 {
                font-size: 1.25rem;
                font-weight: bold;
                text-transform: uppercase;
                color: #000000;
                letter-spacing: 0;
            }
        }

        .option {
            display: flex;
            align-items: center;

            .price {
                margin-right: 1.87rem;
                margin-left: 0.62rem;
                font-size: 0.87rem;
                font-weight: 700;
                color: #5c5c5c;
            }

            svg:nth-child(3) {
                margin-right: 1.87rem;
            }
        }
    }
}