* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #9dd458;
    border-radius: 20px;
}

body {
    background-color: #e7f6ff;
    padding: 0 calc(5px - (100vw - 100%)) 0 0;
}

ul {
    list-style: none;
}

a {
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    body {
        padding: 0;
    }
}