.header {
    padding-top: 3rem;
    padding-bottom: 2.75rem;
    border-bottom: 1px solid #eaeaea;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 972px;
        margin: 0 auto;

        .logo {
            display: flex;
            transition: transform 0.2s ease-in-out;

            img {
                margin-right: 1rem;
            }

            .text {
                font-size: 0.87rem;
                color: #9d9d9d;
                letter-spacing: 0.35px;

                h2 {
                    font-size: 1.25rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #000000;
                    letter-spacing: 0;
                }
            }
        }

        .logo:hover {
            transform: scale(1.1);
        }



        .option {
            display: flex;
            align-items: center;

            .priceBlock {
                display: flex;
                align-items: center;
                margin-right: 1.87rem;
                transition: transform 0.2s ease-in-out;


                .price {
                    margin-left: 0.62rem;
                    font-size: 0.87rem;
                    font-weight: 700;
                    color: #5c5c5c;
                }
            }



            a:nth-child(2) {
                margin-right: 1.87rem;
                transition: transform 0.2s ease-in-out;

            }

            a:nth-child(3) {
                transition: transform 0.2s ease-in-out;
            }

            .priceBlock:hover {
                transform: scale(1.2);
                cursor: pointer;

                .cart {
                    path {
                        stroke: #a5d364;
                    }
                }
            }

            .favorite:hover {
                transform: scale(1.2);

                path {
                    fill: #ff8585;
                }
            }

            .profile:hover {
                transform: scale(1.2);

                path {
                    fill: #a5d364;
                }
            }

        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 3rem 2rem 2.75rem;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 3rem 1rem 2.75rem;

        .container {
            .logo {

                img {
                    margin-right: 0.5rem;
                }

                .text {
                    font-size: 0.7rem;


                    h2 {
                        font-size: 1.06rem;
                    }
                }
            }

            .option {
                .priceBlock {
                    margin-right: 1rem;

                    .price {
                        font-size: 0.7rem;
                    }
                }

                a:nth-child(2) {
                    margin-right: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .header {
        .container {
            flex-direction: column;

            .logo {
                margin-bottom: 1rem;
            }

            .option {
                .priceBlock {
                    margin-right: 1.87rem;
                }

                a:nth-child(2) {
                    margin-right: 1.87rem;
                }
            }
        }
    }
}